<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css"/>
    <title>project 1</title>
</head>
<body>
    <h3>Navneetkumar R. Thakor : 21CP031</h3>
    <div id="formContainer">
        <h1>Linear Regration</h1>

        <div id="formquestions">
            <div>
                <input type="text" required name="inputdata" id="inputdata" />
                <label for="inputdata">Enter you height (cem)</label>
            </div>
            <div>
                <input type="text" required name="ans" id="ans" />
                <label for="inputdata">calculated weight (Kg)</label>
            </div>
            
            
        </div>
        <button id="btn">Calculate</button>

    </div>

    <script>
        const button  = document.getElementById("btn");
        button.onclick = async () =>{
            const val = document.getElementById("inputdata");
            console.log(val.value)
            const url = `http://localhost:5000/calculate?height=${val.value}`;
            const response = await fetch(url,{
                method: "POST",
                headers:{
                    "Content-Type": "application/json"
                },
            })
            const ans = await response.json();
            document.getElementById("ans").value = ans;

        }
    </script>
</body>
</html>